# Archivos de entorno y configuración
.env

# Archivos de bases de datos
*.vpp
*.db

# Directorios de Python
__pycache__/

# Directorios de Node
node_modules/
backend/node_modules/
# Archivos de Visual Studio
.vs/